<html>
<head>
<style type="text/css">

p.lineThrough {
    text-decoration: line-through;
}

</style>
</head>
<body>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Completed</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="taskscompleted in taskcompletedlist">
					<td><p class="lineThrough">{{taskscompleted.task + " ---(CompleteTime: " + taskscompleted.dateinfo.CompleteTime + ")---"}}</p></td>
					<td><button class="btn btn-danger" ng-click="Deletetask(taskscompleted._id)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>